<div class="container">
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="recoverPassword()">
        <h2 class="text-center">Recuperar Contraseña</h2>
        
        <!-- Mensaje de token recibido -->
        <p *ngIf="token">Token recibido: {{ token }}</p>
        
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            id="form4Example1"
            class="form-control"
          />
          <label class="form-label" for="form4Example1">Correo Electrónico</label>
        </div>

        <!-- Botón de recuperación -->
        <button
          type="submit"
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn btn-primary btn-block mb-4"
        >
          Enviar
        </button>

        <p class="text-center">
          ¿Recuerdas tu contraseña? <a [routerLink]="['/login']">Inicia Sesión</a>
        </p>
      </form>
    </div>
  </div>
</div>
